:root {
  --main-color: #212121;
  --second-color: #757575;
  --title-display: none;
  --main-backgraund-color: white;
  --active-color: #2196f3;
  --second-becgraund-color: #2f303a;
}
/*body portfolio*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  background-color: var(--main-backgraund-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--active-color);
}

/*navigation sector*/

.logo-second-part {
  color: #000000;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.navigation {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation-item {
  color: var(--main-color);
}
.navigation-item:focus {
  color: var(--active-color);
}
.navigation-item:hover {
  color: var(--active-color);
}
.current {
  color: var(--active-color);
}
.contacts-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.contacts-item:hover,
.contacts-item:focus {
  color: var(--active-color);
}
/*main section*/
.hero-section {
  background-color: var(--second-becgraund-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.hero-title {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.benefits-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
}
.benefits-text {
  line-height: 1.71;
  color: var(--second-color);
}

/*command specialist*/
.command {
  background: #f5f4fa;
}

.specialist-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.position-specialist {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--second-color);
}
/*button list*/
.btn-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  color: var(--main-color);
  background-color: #f5f4fa;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn-item:hover,
.btn-item:focus {
  background: var(--active-color);
  color: white;
}
.hero-section > .hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--active-color);
  background: #ffffff;
}

/*examples of products*/
.example-list-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.example-list-about {
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-color);
}
/*footer section*/
.footer {
  background: var(--second-becgraund-color);
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
}
.logo .logo-footer-last {
  color: #ffffff;
}
.point-link {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}

.footer-list-mail,
.footer-list-tel {
  font-weight: 400;
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
